<div class="container">

    <h3>Update Registration</h3>
    <a routerLink='/view-registration' class="btn btn-link">View User</a>
    <br><br>
    <form [formGroup]="updateUsers">

          <label for="userName">User Name<span style="color:red"> *</span></label>
          <input type="text" class="form-control" id="userName" placeholder="User name"
            [(ngModel)]="registrations.userName" formControlName="userName">
        <div *ngIf="userName.invalid && (userName.touched||submitted)">

            <span class="text-danger" *ngIf="userName.errors?.required">User name is required</span>
            <span class="text-danger" *ngIf="userName.errors?.pattern">Please enter user name</span>
        </div>

          <label for="emailaddress">Email Address<span style="color:red"> *</span></label>
          <input type="text" class="form-control" id="emailaddress" placeholder="Emailaddress"
            [(ngModel)]="registrations.emailaddress" formControlName="emailaddress">
        <div *ngIf="emailaddress.invalid && (emailaddress.touched||submitted)">
            <span class="text-danger" *ngIf="emailaddress.errors?.required">Email address is required</span>
            <span class="text-danger" *ngIf="emailaddress.errors?.pattern">Please enter email address</span>
        </div>

          <label for="mobileNumber">Mobile Number<span style="color:red"> *</span> </label>
          <input type="text" class="form-control" id="mobileNumber" placeholder="MobileNumber"
            [(ngModel)]="registrations.mobileNumber" formControlName="mobileNumber">
        <div *ngIf="mobileNumber.invalid && (mobileNumber.touched||submitted)">
            <span class="text-danger" *ngIf="mobileNumber.errors?.required">Mobile number is required</span>
            <span class="text-danger" *ngIf="mobileNumber.errors?.pattern">Please enter numbers only</span>
        </div>

        <label for="password">Password<span style="color:red"> *</span></label>
          <input type="password" class="form-control" id="password" placeholder="Password"
            [(ngModel)]="registrations.password" formControlName="password">
        <div *ngIf="password.invalid && (password.touched||submitted)">
            <span class="text-danger" *ngIf="password.errors?.required">Password required</span>
            <span class="text-danger" *ngIf="password.errors?.pattern">Please enter password</span>
        </div>

          <label for="confirmPassword">Confirm Password<span style="color:red"> *</span></label>
          <input type="password" class="form-control" id="confirmPassword" placeholder="ConfirmPassword"
            [(ngModel)]="registrations.confirmPassword" formControlName="confirmPassword">

        <div *ngIf="confirmPassword.invalid && (confirmPassword.touched||submitted)">
            <span class="text-danger" *ngIf="confirmPassword.errors?.required">Confirm password is required</span>
            <span class="text-danger" *ngIf="confirmPassword.errors?.pattern">Please enter confirm password</span>
        </div>
           <br>
          <button type="button" class="btn btn-success" (click)="update()">Submit</button>
    </form>
</div>