<div class="container">
    <!-- form fields below -->
    <form [formGroup]="edit">
        <label for="FirstName" class="required">FirstName</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName"
            [(ngModel)]="updateCustomerValues.firstName" placeholder="First Name" name="firstName" />
        <div *ngIf="firstName.invalid && firstName.touched">
            <span class="error" *ngIf="firstName.errors?.required">FirstName is required</span>
            <span class="error" *ngIf="firstName.errors?.pattern">FirstName should contain characters only</span>
        </div>
        <label for="LastName" class="required">LastName</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName"
            [(ngModel)]="updateCustomerValues.lastName" placeholder="Last Name" name="lastName" />
        <div *ngIf="lastName.invalid && lastName.touched">
            <span class="error" *ngIf="lastName.errors?.required">LastName id is required</span>
            <span class="error" *ngIf="lastName.errors?.pattern">LasttName should contain characters only</span>
        </div>
        <label for="Mobile Number" class="required">MobileNumber</label>
        <input type="text" class="form-control" id="mobileNumber" formControlName="mobileNumber"
            [(ngModel)]="updateCustomerValues.mobileNumber" placeholder="MobileNumber" name="mobileNumber" />
        <div *ngIf="mobileNumber.invalid && mobileNumber.touched">
            <span class="error" *ngIf="mobileNumber.errors?.required">MobileNumber is required</span>
            <span class="error" *ngIf="mobileNumber.errors?.pattern">MobileNumber should contain integer only</span>
            <span class="error" *ngIf="mobileNumber.errors?.maxlength">Mobile Number should contain 10-digits</span>
            <span class="error" *ngIf="mobileNumber.errors?.minlength">Mobile Number should contain 10-digits</span>

        </div>
        <label for="Email-Address" class="required">Email-Address</label>
        <input type="text" class="form-control" id="emailAddress" formControlName="emailAddress"
            [(ngModel)]="updateCustomerValues.emailAddress" placeholder="EmailAddress" name="emailAddress" />
        <div *ngIf="emailAddress.invalid && emailAddress.touched">
            <span class="error" *ngIf="emailAddress.errors?.required">Email-Address is required</span>
            <span class="error" *ngIf="emailAddress.errors?.pattern">E-mailId should not contain specal symbols</span>
        </div>
        <label for="Address" class="required">Address</label>
        <input type="text" class="form-control" id="address" formControlName="address"
            [(ngModel)]="updateCustomerValues.address" placeholder="Address" name="address" />
        <div *ngIf="address.invalid && address.touched">
            <span class="error" *ngIf="address.errors?.required">Address is required</span>
            <span class="error" *ngIf="address.errors?.pattern"></span>
        </div>
        <label for="City" class="required">City</label>
        <input type="text" class="form-control" id="city" formControlName="city" [(ngModel)]="updateCustomerValues.city"
            placeholder="City" name="city" />
        <div *ngIf="city.invalid && city.touched">
            <span class="error" *ngIf="city.errors?.required">City is required</span>
            <span class="error" *ngIf="city.errors?.pattern">City should contain characters only</span>
        </div>
        <label for="State" class="required">State</label>
        <input type="text" class="form-control" id="state" formControlName="state"
            [(ngModel)]="updateCustomerValues.state" placeholder="State" name="state" />
        <div *ngIf="state.invalid && state.touched">
            <span class="error" *ngIf="state.errors?.required">State is required</span>
            <span class="error" *ngIf="state.errors?.pattern">State should contain Characters only</span>
        </div>
        <!-- <label for="Country" class="required">Country</label>
        <input type="text" class="form-control" id="country" formControlName="country"
            [(ngModel)]="updateCustomerValues.country" placeholder="Country" name="country" />
        <div *ngIf="country.invalid && country.touched">
            <span class="error" *ngIf="country.errors?.required">Country is required in boolean only</span>
            <span class="error" *ngIf="country.errors?.pattern">Country should contain trur/false only</span>
        </div> -->
        <label for="Country" placeholder="Country" class="required">Country</label>
        <select class="form-control" formControlName="country" [(ngModel)]="insertCustomer.country" name="country"
            id="Country">
            <option value="true" selected>India</option>
            <option value="false">Others</option>
        </select>
        <span class="error" *ngIf="country.errors?.required">Country is required in boolean only</span>
        <br>
        <label for="Pincode" class="required">Pincode</label>
        <input type="text" class="form-control" id="pincode" formControlName="pincode"
            [(ngModel)]="updateCustomerValues.pincode" placeholder="PinCode" name="pincode" />
        <div *ngIf="pincode.invalid && pincode.touched">
            <span class="error" *ngIf="pincode.errors?.required">Pincode is required</span>
            <span class="error" *ngIf="pincode.errors?.pattern">Pincode should contain integer only</span>
            <span class="error" *ngIf="pincode.errors?.maxlength">Pincode should contain 6-digits</span>
            <span class="error" *ngIf="pincode.errors?.minlength">Pincode should contain 6-digits</span>
        </div>
        <label for="RegId" class="required">RegId</label>
        <input type="text" class="form-control" id="RegId" formControlName="regId"
            [(ngModel)]="updateCustomerValues.regId" placeholder="RegId" name="regId" />
        <div *ngIf="regId.invalid && regId.touched">
            <span class="error" *ngIf="regId.errors?.required">RegId is required</span>
            <span class="error" *ngIf="regId.errors?.pattern">RegId should contain integer only</span>
        </div>
        <button type="button" class="bth btn-success" [disabled]="edit.invalid"
            (click)="updateCustomer()">update</button>

    </form>
</div>