body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

* {
    left: 120px;
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text] {
    border-radius: 12px;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */
.registerbtn {
    margin-left: 32%;
    background-color: #04AA6D;
    color: white;
    padding: 10px 0px;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

span {
    font-size: large;
}

a {
    color: dodgerblue;
}

.required:after {
    content: " *";
    color: red;
}

.error {
    color: red;
    font-size: small;
}