<div class="bg-img">
  <div class="container ">

    <div class="d-flex justify-content-center h-100">
      <div class="card">
         <div class="card-body">
              <form [formGroup]="forgot" class="form">
                <div class="hi">
                  <h3>Change Password Here</h3>
                </div>

                  <div class="form-group">

                      <div> <span class="text-danger">{{msg}}</span></div>
                      <label for="email" class="names">Email :</label>
                      <input type="text" class="form-control" [(ngModel)]="registration.emailaddress" id="email"
                          placeholder="Enter Email" formControlName="email" MailValidator>
                      <div *ngIf="email.invalid && (email.touched||submitted)">

                          <span class="text-danger" *ngIf="email.errors?.required">email is required</span>
                          <span class="text-danger" *ngIf="email.errors?.pattern">Please enter valid email</span>
                          <span class="text-danger" *ngIf="email.errors?.MailValidator">you are seems to not register go for sign up</span>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="pwd" class="names">Password:</label>
                      <input type="password" class="form-control" [(ngModel)]="registration.password" id="pwd"  name="password"
                          placeholder="Enter password" formControlName="password">
                      <div *ngIf="password.invalid && (password.touched||submitted)">
                          <span class="text-danger" *ngIf="password.errors?.required">Password required</span>
                          <span class="text-danger" *ngIf="password.errors?.pattern">password should contain minimum length,one Capital,special character and number </span>
                      </div>
                  </div>

                  <div class="form-group">
                    <label for="pwd" class="names">Confirm Password:</label>
                    <input type="password" class="form-control" [(ngModel)]="registration.confirmPassword"  pattern="{{ password.value }}"  id="pwd1"
                        placeholder="Re-Enter password" formControlName="confirmPassWord">
                    <div *ngIf="confirmPassWord.invalid && (confirmPassWord.touched||submitted)">
                        <span class="text-danger" *ngIf="confirmPassWord.errors?.required">confirm Password required</span>

                        <span class="text-danger" *ngIf="confirmPassWord.errors?.pattern">confirn password did not match</span>
                        <!-- <span class="text-danger" *ngIf="confirmPassWord.errors?.notEqual">Please enter password</span> -->
                        <!-- <span class="text-danger" *ngIf="confirmPassWord.touched||submitted && registration.password!==registration.confirmPassword">confirn password did not match</span> -->
                      </div>
                 </div>




                    <div class="col-md-12 text-center">
                      <div class="btn-toolbar">
                        <button type="button" (click)=update() class="btn btn-primary">Submit</button>
                        <button type="button" (click)=cancel()  class="btn btn-warning">Cancel</button>
                     </div>
                   </div>


              </form>

          </div>
      </div>
  </div>
  </div>
  </div>
