<ng-container *ngIf="products.length != 0">
    <section class="h-100 h-custom" style="background-color: #eee">
        <div class="container py-5 h-100 ">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-7">
                                    <h4 class="mb-3">
                                        <a routerLink="/landingPage" class="text-body"><i class="fas fa-long-arrow-alt-left me-2" ></i>Buy More</a
                    >
                  </h4>
                  <hr />

                  <div
                    class="d-flex justify-content-between align-items-center mb-4"
                  >
                    <div>
                      <p class="mb-1">Shopping cart</p>
                      <p class="mb-0">You have {{products.length}} items in your cart</p>
                    </div>
                  </div>

                  <div  *ngFor="let book of products; let i = index" >
                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                            <div>
                              <img
                                src="{{ book.retrieved_image }}"
                                class="img-fluid rounded-3"
                                alt="Shopping item"
                                style="width: 65px"
                              />
                            </div>
                            <div class="ms-3">
                              <h5>{{ book.book_title }}</h5>
                              <p class="small mb-0">{{ book.description }}</p>
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center">
                            <div style="width: 50px">
                              <h5 class="fw-normal mb-0">{{ book.bookQty }}x{{ book.book_price }}</h5>
                            </div>
                            <div style="width: 80px">
                              <h5 class="mb-0">₹ {{book.book_price * book.bookQty}}</h5>
                            </div>
                            <a (click)="removeItem(book)" style="color: #cecece"
                              ><i  class="fas fa-trash-alt " ></i>
                            </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Payment details starts from here  -->
            </div>
            <div class="col-lg-5 floated">
                <div class="card bg-primary text-white rounded-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h5 class="mb-0">Price Details</h5>

                        </div>
                        <hr class="my-4" />
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Subtotal</p>
                            <p class="mb-2">₹ {{grandTotal}}</p>
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Shipping</p>
                            <p class="mb-2">₹ 0.00</p>
                        </div>

                        <div class="d-flex justify-content-between mb-4">
                            <p class="mb-2">Total(Incl. taxes)</p>
                            <p class="mb-2">₹ {{grandTotal}}</p>
                        </div>

                        <button type="button" class="btn btn-success btn-block btn-lg">
                        <div class="d-flex justify-content-between" (click)="checkout()">
                          <span>₹ {{grandTotal}}</span>
                          <span
                            >Checkout
                            <i class="fas fa-long-arrow-alt-right ms-2"></i
                          ></span>
                        </div>
                      </button>
                        <button type="button" class="btn btn-danger btn-block btn-lg">
                      <div class="d-flex justify-content-between" (click)="emptyCart()">
                        <span
                          > Empty Cart <i class="fas fa-window-close ms-2"></i
                            >
                         </span>
                      </div>
                    </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </section>
</ng-container>

<ng-container *ngIf="products.length == 0">
    <div class="card text-center">
        <div class="card-header">
            <img src="https://www.rokonbaghdad.com/static/media/empty_cart.4a7779da.png" alt="" />
        </div>
        <div class="card-body">
            <h4 class="card-title">Oops !</h4>
            <p class="card-text">Your cart is empty try to buy Something 😜</p>
            <a routerLink="/landingPage" class="btn btn-primary">Buy Now </a>
        </div>
    </div>
</ng-container>