<!-- <div *ngIf="deliveryb"> -->
<div class="container">
    <h2>Delivery Address Details</h2>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <td>Customer Name</td>
                <td>{{deliveryb.customername}}</td>
            </tr>
            <tr>
                <td>Address1</td>
                <td>{{deliveryb.address1}}</td>
            </tr>
            <tr>
                <td>Address2</td>
                <td>{{deliveryb.address2}}</td>
            </tr>
            <tr>
                <td>State</td>
                <td>{{deliveryb.state}}</td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{deliveryb.city}}</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>{{deliveryb.country}}</td>
            </tr>
            <tr>
                <td>Pincode</td>
                <td>{{deliveryb.pincode}}</td>
            </tr>
        </table>
    </div>
</div>