<div class="container">
   <form [formGroup]="edit">
      <label for="FirstName" class="required">FirstName</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName"
         [(ngModel)]="updateData.firstName" placeholder="First Name" name="firstName" />
      <div *ngIf="firstName.invalid && firstName.touched">
         <span class="error" *ngIf="firstName.errors?.required">FirstName is required</span>
         <span class="error" *ngIf="firstName.errors?.pattern">FirstName should contain characters only</span>
      </div>
      <label for="LastName" class="required">LastName</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName" [(ngModel)]="updateData.lastName"
         placeholder="Last Name" name="lastName" />
      <div *ngIf="lastName.invalid && lastName.touched">
         <span class="error" *ngIf="lastName.errors?.required">LastName id is required</span>
         <span class="error" *ngIf="lastName.errors?.pattern">LasttName should contain characters only</span>
      </div>
      <button type="button" class="bth btn-success" [disabled]="edit.invalid" (click)="updateAuthor()">update</button>
   </form>
</div>